@charset "UTF-8";
.clearfix:after, .colleague-container:after {
  content: "";
  display: table;
  clear: both; }

.no-list {
  padding: 0;
  margin: 0;
  list-style: none; }

._left {
  float: left; }

._right {
  float: right; }

._circle-img {
  border-radius: 50%;
  overflow: hidden; }

._loadin {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
  animation: loadin 0.5s cubic-bezier(0, 0.99, 0, 0.99);
  animation-fill-mode: forwards; }
@keyframes loadin {
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0); } }
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit; }

.mobile-container {
  position: relative;
  width: 375px;
  height: 657px;
  background-color: #fff;
  overflow: hidden; }

.header {
  display: flex;
  width: 100%;
  height: 60px;
  margin-top: 10px;
  flex-direction: row; }
  .header--main {
    align-items: center;
    justify-content: center; }
  .header--new-comet {
    align-items: center;
    justify-content: center; }

.back-arrow {
  position: absolute;
  top: 15px;
  left: 10px;
  padding: 10px;
  z-index: 1;
  transform: translate3d(-50px, 0px, 0);
  transition: transform 0.65s cubic-bezier(0, 0.99, 0, 0.99); }
  .back-arrow.show {
    transform: translate3d(0px, 0px, 0); }

.close-new-comet {
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 10px; }

.colleague-detail {
  display: none; }

.sub-header {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px; }
  .sub-header.flex-column {
    flex-direction: column; }
  .sub-header span {
    display: block;
    margin-top: 10px; }

.browse-colleagues .sub-header {
  margin-top: 0; }

.colleague-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 440px;
  padding: 0 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  white-space: nowrap; }

.colleague-detail .sub-header {
  margin-top: 10px; }

.colleague {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  flex-flow: column;
  padding: 15px;
  min-width: 150px;
  height: 190px;
  margin-right: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 16px 20px -8px rgba(49, 41, 79, 0.45);
  background-size: cover;
  opacity: 0;
  transform: scale(0.8);
  animation: popin 0.65s cubic-bezier(0, 0.99, 0, 0.99);
  animation-fill-mode: forwards; }
  .colleague:nth-child(1) {
    animation-delay: 0.0833333333s; }
  .colleague:nth-child(2) {
    animation-delay: 0.1666666667s; }
  .colleague:nth-child(3) {
    animation-delay: 0.25s; }
  .colleague:nth-child(4) {
    animation-delay: 0.3333333333s; }
  .colleague:nth-child(5) {
    animation-delay: 0.4166666667s; }
  .colleague:nth-child(6) {
    animation-delay: 0.5s; }
  .colleague:nth-child(7) {
    animation-delay: 0.5833333333s; }
  .colleague:nth-child(8) {
    animation-delay: 0.6666666667s; }
  .colleague:nth-child(9) {
    animation-delay: 0.75s; }
  .colleague:nth-child(10) {
    animation-delay: 0.8333333333s; }
  .colleague:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-180deg, rgba(54, 42, 92, 0) 0%, #1A1040 100%);
    z-index: 0; }
  .colleague .colleague-name {
    display: block;
    position: relative;
    z-index: 1;
    color: #fff;
    font-family: 'Dosis-Medium';
    font-size: 16px; }
  .colleague .commitment-count {
    display: flex;
    flex-flow: row;
    z-index: 1;
    margin-top: 10px;
    color: #fff;
    font-size: 12px;
    color: #7B8AA7; }
    .colleague .commitment-count .count-wrap {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: space-around; }
      .colleague .commitment-count .count-wrap:last-child {
        margin-left: 15px; }
  .colleague .count {
    margin-left: 5px; }

.comet-container {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch; }

.comet-slider {
  display: flex;
  width: auto;
  padding-bottom: 10px;
  margin: 15px 40px; }

.comet {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-width: 295px;
  height: 400px;
  padding: 30px;
  box-shadow: 0px 16px 20px -8px rgba(49, 41, 79, 0.45);
  transform: translate3d(50px, 0, 0);
  opacity: 0;
  animation: slidein 0.65s cubic-bezier(0, 0.99, 0, 0.99);
  animation-fill-mode: forwards; }
@keyframes slidein {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0); } }
  .comet:nth-child(2) {
    animation-delay: .15s; }
  .comet:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-180deg, rgba(54, 42, 92, 0) 0%, #1A1040 100%);
    z-index: 0; }
  .comet + .comet {
    margin-left: 20px; }
  .comet:last-child {
    margin-right: 20px; }

.comet-info {
  position: relative;
  z-index: 1; }
  .comet-info > * {
    margin-top: 15px; }

.comet-flag {
  display: inline-block;
  height: 30px;
  margin-left: -30px;
  color: #31294F;
  font-size: 14px;
  line-height: 30px;
  padding: 0 30px;
  font-family: 'Dosis-SemiBold';
  background-color: #FF7378; }

.comet-title {
  font-size: 24px;
  font-family: 'Dosis-SemiBold';
  color: #fff; }

.comet-duedate {
  font-size: 16px;
  font-family: 'Dosis-Book';
  color: #A3ADC2; }
  .comet-duedate span {
    margin-right: 5px; }

.comet-detail {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  transform: translate3d(0, 100%, 0);
  animation: detailIn 0.65s cubic-bezier(0, 0.99, 0, 0.99);
  animation-fill-mode: forwards; }
@keyframes detailIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0%, 0); } }
  .comet-detail .detail-back-arrow {
    position: absolute;
    top: 15px;
    left: 10px;
    padding: 10px; }
  .comet-detail .comet-photo {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 175px;
    width: 100%; }
    .comet-detail .comet-photo:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(-180deg, rgba(54, 42, 92, 0) 0%, #1A1040 100%);
      z-index: 0; }
  .comet-detail .comet-flag {
    position: relative;
    margin-left: 0;
    z-index: 1; }
  .comet-detail .comet-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #F3F4F7;
    background-color: #fff;
    color: #A3ADC2; }
    .comet-detail .comet-actions .lnr {
      font-size: 20px;
      margin-bottom: 10px;
      display: block;
      color: #252B37; }
  .comet-detail .comet-detail-info {
    padding: 30px;
    background-color: #fff;
    height: 100%; }
    .comet-detail .comet-detail-info .label, .comet-detail .comet-detail-info .colleague .count, .colleague .comet-detail .comet-detail-info .count, .comet-detail .comet-detail-info .comet-actions, .comet-detail .comet-detail-info .tinylabel:before, .comet-detail .comet-detail-info .radio-group--colleague label, .radio-group--colleague .comet-detail .comet-detail-info label, .comet-detail .comet-detail-info .radio-group--filter label, .radio-group--filter .comet-detail .comet-detail-info label {
      margin-top: 30px;
      color: #FF7378; }
  .comet-detail .comet-detail-title {
    font-size: 32px;
    font-family: 'Dosis-SemiBold'; }

.button-container {
  position: absolute;
  width: 315px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 30px; }
  .button-container .btn {
    width: 100%; }
  .button-container.static {
    position: static;
    margin-top: 20px; }

.choose-who {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 220px;
  background-color: #fff;
  padding: 40px;
  transform: translate3d(0, 220px, 0);
  transition: transform 0.65s cubic-bezier(0, 0.99, 0, 0.99);
  pointer-events: none; }
  .choose-who:before {
    position: absolute;
    content: "";
    height: 700px;
    width: 100%;
    top: -700px;
    left: 0;
    opacity: 0;
    background-color: rgba(10, 0, 35, 0.5);
    transition: opacity 0.65s cubic-bezier(0, 0.99, 0, 0.99); }
  .choose-who .btn {
    width: 100%;
    display: block; }
  .choose-who .btn + .btn {
    margin-top: 15px; }
  .choose-who.show {
    transform: translate3d(0, 0px, 0);
    pointer-events: auto; }
    .choose-who.show:before {
      opacity: 1; }

.new-comet {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: translate3d(0, 100%, 1px);
  transition: transform 0.5s cubic-bezier(0, 0.99, 0, 0.99); }
  .new-comet.show {
    transform: translate3d(0, 0%, 1px); }

.input-container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  height: calc(100% - 60px);
  transition: transform 0.65s cubic-bezier(0, 0.99, 0, 0.99); }

.input-content {
  position: relative;
  min-width: 375px;
  height: 100%;
  background-color: #F3F4F7;
  overflow-y: scroll; }

.choose-colleague {
  justify-content: center; }

.colleague-choice {
  background-color: #fff; }

.tinylabel {
  position: relative; }
  .tinylabel + .tinylabel {
    margin-top: 25px; }
  .tinylabel:before {
    content: attr(data-label);
    position: absolute;
    background-color: #fff;
    top: -10px;
    left: 40px;
    padding: 1px 3px;
    border: 1px solid #FF7378;
    color: #FF7378; }

.review-colleague:first-child {
  margin-top: 40px; }

.confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #FF7378;
  color: #fff;
  transform: translate3d(0, -100%, 0); }
  .confirmation.show {
    animation: interstitial 4s cubic-bezier(0, 0.99, 0, 0.99);
    animation-fill-mode: backwards; }
  .confirmation .confirmation-info {
    text-align: center;
    max-width: 150px; }
    .confirmation .confirmation-info span {
      opacity: 0.7; }
@keyframes interstitial {
  0% {
    transform: translate3d(0, -100%, 0); }
  10% {
    transform: translate3d(0, 0%, 0); }
  90% {
    transform: translate3d(0, 0%, 0); }
  100% {
    transform: translate3d(0, 100%, 0); } }
.transition-sheet {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  animation: load 0.65s cubic-bezier(0, 0.99, 0, 0.99);
  animation-fill-mode: forwards;
  transform: translate3d(0, 0, 1px); }
@keyframes load {
  0% {
    opacity: 1; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1;
    top: 0;
    left: 0;
    width: 375px;
    height: 657px; } }
.clearfix:after, .colleague-container:after {
  content: "";
  display: table;
  clear: both; }

.pop-in {
  opacity: 0;
  transform: scale(0.8);
  animation: popin 0.65s cubic-bezier(0, 0.99, 0, 0.99);
  animation-fill-mode: forwards; }
@keyframes popin {
  0% {
    opacity: 0;
    transform: scale(0.9); }
  100% {
    opacity: 1;
    transform: scale(1); } }
h1, h2, h3, h4 {
  font-weight: normal; }

.label, .colleague .count, .comet-detail .comet-actions, .tinylabel:before, .radio-group--colleague label, .radio-group--filter label {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Dosis-SemiBold';
  letter-spacing: 1.5px; }
  .label.gray, .colleague .gray.count, .comet-detail .gray.comet-actions, .gray.tinylabel:before, .radio-group--colleague label.gray, .radio-group--filter label.gray {
    color: #A3ADC2; }

.header-text {
  font-size: 14px;
  font-family: 'Dosis-SemiBold';
  letter-spacing: 1.5px;
  color: #A3ADC2;
  text-transform: uppercase; }

.btn {
  display: inline-block;
  font-family: 'Dosis-Medium', 'Helvetica Neue';
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: all 0.5s cubic-bezier(0.52, 0.01, 0.16, 1); }
  .btn:active {
    transform: translate3d(0, 2px, 0); }
  .btn--secondary {
    color: #fff;
    background-color: #CBD1DC;
    border: none;
    box-shadow: 0px 12px 24px -10px #ff9296; }
    .btn--secondary:hover {
      background-color: #bcc4d2; }
    .btn--secondary:disabled {
      background-color: #CBD1DC;
      cursor: not-allowed;
      box-shadow: none; }
    .btn--secondary:focus {
      outline: none;
      box-shadow: 0 0 0 3px white; }
  .btn--secondary--ghost {
    border: 1px solid #CBD1DC;
    color: #CBD1DC;
    background-color: #fff;
    color: #5A6987; }
    .btn--secondary--ghost:hover {
      border: 1px solid #bcc4d2;
      color: #bcc4d2; }
    .btn--secondary--ghost:disabled {
      border: 1px solid #CBD1DC;
      cursor: not-allowed;
      color: #CBD1DC; }
    .btn--secondary--ghost:focus {
      outline: none;
      box-shadow: 0 0 0 3px white; }
  .btn--main {
    color: #fff;
    background-color: #FF7378;
    border: none;
    box-shadow: 0px 12px 24px -10px #ff9296; }
    .btn--main:hover {
      background-color: #ff5a5f; }
    .btn--main:disabled {
      background-color: #CBD1DC;
      cursor: not-allowed;
      box-shadow: none; }
    .btn--main:focus {
      outline: none;
      box-shadow: 0 0 0 3px white; }
  .btn--main--ghost {
    border: 1px solid #FF7378;
    color: #FF7378;
    background-color: #fff; }
    .btn--main--ghost:hover {
      border: 1px solid #ff5a5f;
      color: #ff5a5f; }
    .btn--main--ghost:disabled {
      border: 1px solid #CBD1DC;
      cursor: not-allowed;
      color: #CBD1DC; }
    .btn--main--ghost:focus {
      outline: none;
      box-shadow: 0 0 0 3px white; }
  .btn--small {
    padding: 0px 25px;
    height: 40px;
    line-height: 40px;
    font-size: em(16); }
  .btn--big {
    padding: 0px 40px;
    height: 45px;
    line-height: 45px;
    font-size: 16px; }

.full-transition:after {
  position: absolute;
  content: "";
  top: -57px;
  width: 375px;
  left: 0px;
  right: 0;
  z-index: 99;
  margin: 0 auto;
  height: 667px;
  background-color: #31294F;
  transform-origin: 50% 93%;
  transform: scale(0.84, 0.07);
  transition: all 0.65s cubic-bezier(0.52, 0.01, 0.16, 1); }
.full-transition:hover:after {
  transform: scale(1, 1); }

input[type="text"], select,
input[type="date"] {
  display: block;
  width: calc(100% - 80px);
  margin: 0 40px;
  height: 60px;
  padding: 0 15px;
  border: 1px solid #CBD1DC;
  border-radius: 3px;
  background-color: #fff;
  font: inherit;
  outline: none;
  transition: all 0.25s ease;
  -webkit-appearance: none; }
  input[type="text"]:focus, select:focus,
  input[type="date"]:focus {
    border: 1px solid #FF7378;
    box-shadow: inset 0 0 0 1px #FF7378; }
  input[type="text"]:invalid, select:invalid,
  input[type="date"]:invalid {
    border: 1px solid #FF7378; }
  input[type="text"]:disabled, select:disabled,
  input[type="date"]:disabled {
    border: 1px solid #CBD1DC;
    cursor: not-allowed; }

input[type="date"] {
  -webkit-appearance: textfield;
  line-height: 60px; }

.input-label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px; }

.checkbox-group input[type="checkbox"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  margin: 25px 0 0 40px;
  border: 1px solid #CBD1DC;
  transition: background-color 0.25s ease; }
.checkbox-group input[type="checkbox"]:focus {
  outline: none;
  border: 1px solid #FF7378;
  box-shadow: 0 0 0 1px #ffd9da; }
.checkbox-group input[type="checkbox"] + label {
  position: relative;
  margin-left: 15px;
  line-height: 30px;
  vertical-align: bottom; }
.checkbox-group input[type="checkbox"]:checked {
  background-color: #FF7378;
  border: 1px solid #FF7378; }
  .checkbox-group input[type="checkbox"]:checked + label:before {
    content: "✓";
    position: absolute;
    left: -35px;
    top: -3px;
    color: #fff;
    pointer-events: none; }

.radio-group {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  font-size: 16px; }
  .radio-group--images img {
    display: block;
    width: 100%;
    margin-bottom: 30px; }
  .radio-group--images .radio-button {
    width: 25%; }
    .radio-group--images .radio-button > * {
      display: flex;
      flex-flow: column;
      align-items: baseline;
      justify-content: flex-end; }
  .radio-group--colleague {
    justify-content: flex-start;
    margin-left: 40px; }
    .radio-group--colleague label {
      display: inline-block;
      width: 148px;
      height: 100%;
      padding: 20px;
      color: #A3ADC2;
      box-shadow: 0 0 0 1px #FF7378; }
    .radio-group--colleague label img,
    .radio-group--colleague .chosen-img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      overflow: hidden;
      border-radius: 50%;
      pointer-events: none; }
    .radio-group--colleague span {
      display: block;
      margin-top: 15px; }
    .radio-group--colleague input:checked + label {
      background-color: #FF7378;
      color: #31294F; }
  .radio-group--filter label span {
    margin-top: 0; }
  .radio-group--filter input:checked + label {
    box-shadow: inset 0 0 0 1px #FF7378;
    color: #31294F; }
    .radio-group--filter input:checked + label img {
      opacity: 1; }
  .radio-group--filter label {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 6px 30px;
    width: 100%;
    box-shadow: none;
    color: #A3ADC2; }
  .radio-group--filter label img {
    opacity: .4;
    width: 10px;
    margin-left: 5px;
    margin-bottom: -2px;
    pointer-events: none; }
  .radio-group--buttons {
    margin: 0 40px; }
    .radio-group--buttons .radio-button {
      display: inline-block;
      width: 100%; }
      .radio-group--buttons .radio-button + .radio-button label {
        margin-top: 11px; }
    .radio-group--buttons label {
      width: 100%;
      background-color: #fff;
      color: #FF7378;
      box-shadow: inset 0 0 0 1px #FF7378; }
    .radio-group--buttons input:checked + label {
      background-color: #FF7378;
      color: #fff; }

.radio-button input[type="radio"] {
  display: none; }

.radio-button label {
  margin: 0;
  transition: all 0.25s ease;
  overflow: hidden;
  text-align: center; }

select {
  -webkit-appearance: none;
  background: url("../assets/images/downcaret.svg") no-repeat right #fff;
  background-position-x: 90%; }
  select:after {
    content: "Mug"; }

textarea {
  margin: 0 40px;
  width: calc(100% - 80px);
  height: 435px;
  font: inherit;
  padding: 20px;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid #CBD1DC; }
  textarea:focus {
    border: 1px solid #31294F;
    width: 100%;
    margin: 0;
    outline: none; }

@font-face {
  font-family: "GT-Walsheim-Pro-Light";
  src: url("fonts/GT-Walsheim-Pro-Light.eot?") format("eot"), url("fonts/GT-Walsheim-Pro-Light.woff") format("woff"), url("fonts/GT-Walsheim-Pro-Light.ttf") format("truetype"), url("fonts/GT-Walsheim-Pro-Light.svg#GT-Walsheim-Pro-Light") format("svg"); }
@font-face {
  font-family: "GT-Walsheim-Pro-Medium";
  src: url("fonts/GT-Walsheim-Pro-Medium.eot?") format("eot"), url("fonts/GT-Walsheim-Pro-Medium.woff") format("woff"), url("fonts/GT-Walsheim-Pro-Medium.ttf") format("truetype"), url("fonts/GT-Walsheim-Pro-Medium.svg#GT-Walsheim-Pro-Medium") format("svg"); }
@font-face {
  font-family: "GT-Walsheim-Pro-Bold";
  src: url("fonts/GT-Walsheim-Pro-Bold.eot?") format("eot"), url("fonts/GT-Walsheim-Pro-Bold.woff") format("woff"), url("fonts/GT-Walsheim-Pro-Bold.ttf") format("truetype"), url("fonts/GT-Walsheim-Pro-Bold.svg#GT-Walsheim-Pro-Bold") format("svg"); }
@font-face {
  font-family: "Linearicons-free";
  src: url("fonts/Linearicons-free.eot?") format("eot"), url("fonts/Linearicons-free.woff") format("woff"), url("fonts/Linearicons-free.ttf") format("truetype"), url("fonts/Linearicons-free.svg#Linearicons-free") format("svg"); }
@font-face {
  font-family: "Dosis-Bold";
  src: url("fonts/Dosis-Bold.eot?") format("eot"), url("fonts/Dosis-Bold.woff") format("woff"), url("fonts/Dosis-Bold.ttf") format("truetype"), url("fonts/Dosis-Bold.svg#Dosis-Bold") format("svg"); }
@font-face {
  font-family: "Dosis-Book";
  src: url("fonts/Dosis-Book.eot?") format("eot"), url("fonts/Dosis-Book.woff") format("woff"), url("fonts/Dosis-Book.ttf") format("truetype"), url("fonts/Dosis-Book.svg#Dosis-Book") format("svg"); }
@font-face {
  font-family: "Dosis-ExtraBold";
  src: url("fonts/Dosis-ExtraBold.eot?") format("eot"), url("fonts/Dosis-ExtraBold.woff") format("woff"), url("fonts/Dosis-ExtraBold.ttf") format("truetype"), url("fonts/Dosis-ExtraBold.svg#Dosis-ExtraBold") format("svg"); }
@font-face {
  font-family: "Dosis-ExtraLight";
  src: url("fonts/Dosis-ExtraLight.eot?") format("eot"), url("fonts/Dosis-ExtraLight.woff") format("woff"), url("fonts/Dosis-ExtraLight.ttf") format("truetype"), url("fonts/Dosis-ExtraLight.svg#Dosis-ExtraLight") format("svg"); }
@font-face {
  font-family: "Dosis-Light";
  src: url("fonts/Dosis-Light.eot?") format("eot"), url("fonts/Dosis-Light.woff") format("woff"), url("fonts/Dosis-Light.ttf") format("truetype"), url("fonts/Dosis-Light.svg#Dosis-Light") format("svg"); }
@font-face {
  font-family: "Dosis-Medium";
  src: url("fonts/Dosis-Medium.eot?") format("eot"), url("fonts/Dosis-Medium.woff") format("woff"), url("fonts/Dosis-Medium.ttf") format("truetype"), url("fonts/Dosis-Medium.svg#Dosis-Medium") format("svg"); }
@font-face {
  font-family: "Dosis-SemiBold";
  src: url("fonts/Dosis-SemiBold.eot?") format("eot"), url("fonts/Dosis-SemiBold.woff") format("woff"), url("fonts/Dosis-SemiBold.ttf") format("truetype"), url("fonts/Dosis-SemiBold.svg#Dosis-SemiBold") format("svg"); }
* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #000;
  overflow: hidden;
  -webkit-font-smoothing: antialiased; }

body {
  font-family: 'Dosis-Book', sans-serif;
  font-size: 18px;
  color: #31294F; }
