input[type="text"],
input[type="date"] {
  display: block;
  width: calc(100% - 80px);
  margin: 0 $margin-airy;
  height: 60px;
  padding: 0 15px;
  border: 1px solid map-get($grayscale, 2);
  border-radius: $borderradius;
  background-color: #fff;
  font: inherit;
  outline: none;
  transition: all 0.25s ease;
  -webkit-appearance: none;

  &:focus {
    border: 1px solid $main-accent;
    box-shadow: inset 0 0 0 1px $main-accent;
  }

  &:invalid {
    border: 1px solid $pinkberry;
  }

  &:disabled {
    border: 1px solid map-get($grayscale, 2);
    cursor: not-allowed;
  }
}

input[type="date"] {
  -webkit-appearance: textfield;
  line-height: 60px;
}

.input-label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.checkbox-group {

  input[type="checkbox"] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    margin: 25px 0 0 $margin-airy;
    border: 1px solid map-get($grayscale, 2);
    transition: background-color 0.25s ease;
  }

  input[type="checkbox"]:focus {
    outline: none;
    border: 1px solid $main-accent;
    box-shadow: 0 0 0 1px lighten($main-accent, 20%);
  }

  input[type="checkbox"] + label {
    position: relative;
    margin-left: 15px;
    line-height: 30px;
    vertical-align: bottom;
  }

  input[type="checkbox"]:checked {
    background-color: $main-accent;
    border: 1px solid $main-accent;

    & + label:before {
      content: "✓";
      position: absolute;
      left: -35px;
      top: -3px;
      color: #fff;
      pointer-events: none;
    }
  }
}

.radio-group {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  font-size: 16px;

  &--images {

    img {
      display: block;
      width: 100%;
      margin-bottom: 30px;
    }

    .radio-button {
      width: 25%;

      & > * {
        display: flex;
        flex-flow: column;
        align-items: baseline;
        justify-content: flex-end;
      }
    }
  }

  &--colleague {

    justify-content: flex-start;
    margin-left: $margin-airy;

    label {
      display: inline-block;
      width: 148px;
      height: 100%;
      padding: 20px;
      color: map-get($grayscale, 3);
      box-shadow: 0 0 0 1px $main-accent;
      @extend .label;
    }

    label img,
    .chosen-img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      overflow: hidden;
      border-radius: 50%;
        pointer-events: none;
    }

    span {
      display: block;
      margin-top: 15px;
    }

    input:checked + label {
      background-color: $main-accent;
      color: $deepburp;
    }
  }

  &--filter {

    label span {
      margin-top: 0;
    }
    input:checked + label {
      box-shadow: inset 0 0 0 1px $main-accent;
      color: $deepburp;

      img {
        opacity: 1;
      }
    }

    label {
      display: flex;
      flex-flow: row;
      align-items: center;
      padding: 6px 30px;
      width: 100%;
      box-shadow: none;
      color: map-get($grayscale, 3);
      @extend .label;
    }

    label img {
      opacity: .4;
      width: 10px;
      margin-left: 5px;
      margin-bottom: -2px;
      pointer-events: none;
    }
  }

  &--buttons {

    margin: 0 40px;

    .radio-button {
      display: inline-block;
      width: 100%;

      & + .radio-button label {
        margin-top: 11px;
      }
    }

    label {
      width: 100%;
      background-color: #fff;
      color: $main-accent;
      box-shadow: inset 0 0 0 1px $main-accent;
    }

    input:checked + label {
      background-color: $main-accent;
      color: #fff;
    }
  }
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button label {
  margin: 0;
  transition: all 0.25s ease;
  overflow: hidden;
  text-align: center;
}

select {
  -webkit-appearance: none;
  background: url('../assets/images/downcaret.svg') no-repeat right #fff;
  background-position-x: 90%;
  @extend input[type="text"];

  &:after {
    content:"Mug";
  }
}

textarea {
  margin: 0 40px;
  width: calc(100% - 80px);
  height: 435px;
  font: inherit;
  padding: $margin-airy/2;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid map-get($grayscale, 2);

  &:focus {
    border: 1px solid $deepburp;
    width: 100%;
    margin: 0;
    outline: none;
  }
}
