@import 'variables';
@import 'utilities';
@import 'layout';
@import 'typography';
@import 'buttons';
@import 'form';
@include font-face(GT-Walsheim-Pro-Light, fonts/GT-Walsheim-Pro-Light);
@include font-face(GT-Walsheim-Pro-Medium, fonts/GT-Walsheim-Pro-Medium);
@include font-face(GT-Walsheim-Pro-Bold, fonts/GT-Walsheim-Pro-Bold);
@include font-face(Linearicons-free, fonts/Linearicons-free);
@include font-face(Dosis-Bold, fonts/Dosis-Bold);
@include font-face(Dosis-Book, fonts/Dosis-Book);
@include font-face(Dosis-ExtraBold, fonts/Dosis-ExtraBold);
@include font-face(Dosis-ExtraLight, fonts/Dosis-ExtraLight);
@include font-face(Dosis-Light, fonts/Dosis-Light);
@include font-face(Dosis-Medium, fonts/Dosis-Medium);
@include font-face(Dosis-SemiBold, fonts/Dosis-SemiBold);

* {box-sizing: border-box;}

html,
body {
	height: 100%;
	width: 100%;
  margin: 0;
	background-color: #000;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Dosis-Book', sans-serif;
	font-size: 18px;
	color: $deepburp;
}
